*{
    padding: 0; 
    margin: 0;
}

html{

    font-size: 16px;
    -webkit-font-smoothing: antialiased; 

}

body{
    font-family: 'Roboto', sans-serif;

}

.container {
    max-width: 90%;
    margin: 0 auto;    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    flex-wrap: wrap;
}

nav .logoSection{
    display: flex;
    align-items: center;
}

.searchBlock{
    margin-left: 1.4rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #D9DDE7;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

nav input{

    border: none; 
    min-width: 190px;

}

nav input:focus{
    outline: none; 
}

nav ul{
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 1rem;
    background-color: whitesmoke;
    margin-top: 1rem;
    display: none;
}

nav ul.show{
    display: block;
}

nav ul li{
    padding-bottom: 1rem;
}

nav ul li:last-child{
    padding-bottom: 0;
}

nav ul li a{
    color: #596172;
    text-decoration: none;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../img/mobile-img.png'); 
    min-height: calc(100vh - 65px); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex; 
    align-items: center;
}

.heroTextBlock{
    width: 90%;
    margin: 0 auto; 
    color: #fff; 
}

.heroTextBlock .houseEmoji{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.heroTextBlock h1{
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 2rem;
    font-weight: 400;
}

.searchBlock.searchBlockHero input
{

    width: 100%;
    background: transparent; 
    border: none; 
    color: #fff;
    
}

.searchBlock.searchBlockHero input:focus{
    outline: none;
    border: none;
}

.hero ::placeholder{
    color: #fff; 
}

.searchBlock.searchBlockHero{
    margin-left: 0; 
    width: 70%; 
}

.heroBtnBlock{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.heroBtnBlock .btn{
    color: white;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem; 
}

.heroBtnBlock .btnSuccess{
    background: #25DF8F;
}

.heroBtnBlock .btnSecondary{
    background: #C1C8D7;
}

.apartments{
    background: #F6F6F7;    
}

.apartments img{
    border-radius: 10%;
}

.apartments .sectionHeading{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.apartments .sectionHeading h2{
    font-weight: 400;
    color: #2B313D; 
    font-size: 1.2rem;
}

.apartments .sectionHeading h2 span{
    color: #949FB7; 
}

.apartments .sectionHeading a{
    color: #596172; 
    text-decoration: none;
    font-size: 1rem; 
}

.apartmentsListWrapper{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

section{
    padding: 2rem 0;
}

.apartmentsMeta{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apartmentsMeta span{
    color: #596172;
    font-size: 0.8rem;
    padding-top: 0.4rem;
}

.apartmentsCard img{
    width: 100%;
}

.apartmentsTitle{
    margin-top: 1rem;
}

.apartmentsTitle a{
    color: #2B313D; 
    text-decoration: none;
    line-height: 1.6;
}

.heroImageBlock{
    display: none;
}

.mainFooter{
    text-align: center; 
}

.footerText{
    margin: 1rem 0 1rem 0; 
}

.mainFooter .footerText h1{

    font-weight: 400;
    margin-top: 1rem;
}

.mainFooter input{
    width: 50%;
    margin-top: 1rem;
    color: #596172; 
    height: 2.2rem; 

    border: 1px solid #D9DDE7;
    border-radius: 4px;
}

.mainFooter input::placeholder{
  text-align: center;
  margin: 1rem;
  font-size: 140%;
}

.mainFooter .btn{
    color: white;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem; 
    height: 2.5rem;
    margin-top: 0.5rem; 
}

.mainFooter .btnSuccess{
    background: #25DF8F;
}

.endText{
    margin: 1rem 0 1rem 0;
}

.mainFooter .endText{
    font-weight: 400;
    font-size: 60%;
}

.mainFooter .socialMediaFooter {
  
    margin: 1rem 0 1rem 0;

}

/* Style all font awesome icons */
.fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .endText{
       background-image: linear-gradient(to right, rgba(0,255,0,0), rgba(0,255,0,1));        
      height: 40px;
  }

  .endText p{
      padding: 10px 0 10px 0;
  }

/* Media Queries */

@media(min-width: 800px){

nav .hamburger{
    display: none;
}

nav ul.navList{
    width: auto;
    display: flex;
    align-items: center;
    background: transparent;
    margin-top: 0;
    padding: 0; 
}

nav ul.navList li{
    padding-bottom: 0;
    margin-left: 1.8rem;
}

nav{
    flex-wrap: nowrap;
}

.heroTextBlock h1{
    width: 60%;
}

}

@media(min-width: 992px){

    .hero{
        background: #fff;
        min-height: auto;
    }

    .heroTextBlock{
        width: 45%;
        margin-left: 5%;
    } 

   .heroImageBlock{
        display: block;
        width: 55%;
        margin-left: 4rem;
    } 

    .heroImageBlock img{
        height: 100%;
        width: 100%;
    }

    .heroTextBlock h1{
        color: #2B313D;
        font-weight: 400;
        width: 100%;
        
    }

    .searchBlock.searchBlock.searchBlockHero input{
        color: #949FB7;
    }

    .searchBlock.searchBlock.searchBlockHero ::placeholder{
        color: #949FB7;
    }

    .apartmentsListWrapper{
        grid-template-columns: repeat(3, 1fr);
    }


}

@media(min-width: 1192px){
    html{
        font-size: 20px;
    }

    .apartmentsListWrapper{
        grid-template-columns: repeat(4, 1fr);
    }
}
